Repository i-am-bee/bee-api, pull requests merged in 2024-12, with the labels that each got.

#95 chore(user): generate personal organization for new users
  .env.example
  migrations/Migration20241126122701.ts
  seeders/DatabaseSeeder.ts
  src/administration/projects.service.ts
  src/artifacts/dtos/artifact.ts
  src/assistants/assistants.service.ts
  src/chat/chat.service.ts
  src/config.ts
  src/runs/execution/constants.ts
  src/runs/execution/factory.ts
  src/users/dtos/user.ts
  src/users/entities/user.entity.ts
  src/users/users.service.ts
Labels: migration, env

#118 feat(artifact): rename secret to token
  migrations/Migration20241209125658.ts
  src/artifacts/artifacts.service.ts
  src/artifacts/dtos/artifact-shared-read.ts
  src/artifacts/entities/artifact.entity.ts
  src/auth/authentication.ts
Labels: migration

#116 chore(bullmq): upgrade & native instrumentation
  .env.example
  package.json
  pnpm-lock.yaml
  src/jobs/bullmq.ts
  src/jobs/constants.ts
  src/opentelemetry.ts
  workers/python/python/extraction/extraction.py
Labels: env
